<!doctype html>
<head>
    <title>Login</title>
</head>

<body>
    <div id='login'>
        <form method='post' name='login_form' id='login_form' action='/checker'>
            <label>full path of the url you want to check: <input type='text' id='url' name='url' /></label>
            <label>word you're looking for: <input type='text' id='keywords' name='keywords' /></label>
            <input name="submit" type="submit" id='submit' />
        </form>
    </div>
    // <script src='addEvents.js'></script>
</body>
</html>